@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url('../fonts/Ubuntu-Regular.woff2') format('woff2');
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.wrapper {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

#map {
    width: 100%;
    height: 70vh;
}

.map-link {
    padding: 10px;
}

li {
    list-style-position: outside;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li::before {
    content: '';
    background-image: url("/static/icons/pin.svg");
    background-size: 10px;
    width: 10px;
    height: 10px;
}

header img.banner {
    display: block;
    margin-right: auto;
    max-width: 60vw;
}

header img.source-code {
    height:unset;
}

a.source-code {
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
*/
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 15px;
    display: inline-block;
    text-align: center;;
    font-size: 12px;;
}

.grid {
    gap: 20px;
}

.grid header {
    padding: 20px;
    position: relative;
}

.grid > * {
    background-color: #262c30;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.leaflet-popup-content img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    cursor: zoom-in;
}

/*.leaflet-popup .leaflet-zoom-animated {
    width: 100%;
}*/

.leaflet-popup-content {
    width: 80vw;
    font-size: 14px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0px;
    /* Zoom script */
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    padding: 0 !important;
}

.leaflet-popup-content-wrapper {
    font-size: 14px;
    padding: 10px;
    color: #333;
}

.leaflet-popup-tip {
    background-color: #fff;
}

body {
    background: #1C2024;
    color: #fff;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1px;
}

h1 {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    text-shadow: 2px 2px 2px #202020;
    font-family: 'Josefin Sans', sans-serif;
}

a, a:visited {
    text-decoration: none;;
    font-weight: bold;
    color: #DBDBDB;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
    }

    header img.banner {
        height: 15vh;
    }

    header img {
        margin-left: auto;
    }


    .grid > * {
        margin: 0;
    }

    .grid header {
        grid-column: 1 / -1;
        margin-top: 20px;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    #map {
        height: 100%;
    }

    #links {
        overflow-y: scroll;
    }

    .wrapper {
        height: calc(100% - 20px);
        margin-left: 20px;
        margin-right: 20px;
    }
}
