 /* Style the Image Used to Trigger the Modal */
#image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  height: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url('../fonts/Ubuntu-Regular.woff2') format('woff2');
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.wrapper {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

#map {
    width: 100%;
    height: 70vh;
}

.map-link {
    padding: 10px;
}

li {
    list-style-position: outside;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li::before {
    content: '';
    background-image: url("/static/icons/pin.svg");
    background-size: 10px;
    width: 10px;
    height: 10px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    max-width: 80vw;
}

.grid {
    gap: 20px;
}

.grid header {
    padding: 20px;
}

.grid > * {
    background-color: #262c30;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.leaflet-popup-content img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.leaflet-popup .leaflet-zoom-animated {
    width: 100%;
}

.leaflet-popup-content {
    width: 80vw;
    font-size: 14px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0px;
}

.leaflet-popup-content-wrapper {
    font-size: 14px;
    padding: 10px;
    color: #333;
}

.leaflet-popup-tip {
    background-color: #fff;
}

body {
    background: #1C2024;
    color: #fff;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1px;
}

h1 {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    text-shadow: 2px 2px 2px #202020;
    font-family: 'Josefin Sans', sans-serif;
}

a, a:visited {
    text-decoration: none;;
    font-weight: bold;
    color: #DBDBDB;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
    }

    .grid > * {
        margin: 0;
    }

    .grid header {
        grid-column: 1 / -1;
        margin-top: 20px;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    #map {
        height: 100%;
    }

    #links {
        overflow-y: scroll;
    }

    .wrapper {
        height: calc(100% - 20px);
        margin-left: 20px;
        margin-right: 20px;
    }
}
